body{
  background-color:#76EAD7;
  text-align: center;
}
h1{
  color:#1D1B38;
  font-size:5rem;
}
div{
  font-size: 2rem;
}
.dice-2{
  position:relative;
  width:400px;
  height:400px;

  left:550px;
  bottom:360px;

  }
.dice-1{
  position:relative;
  padding-right:350px;
}
